/* Your CSS Code here. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item:nth-child(n + 1) {
  height: 100px;
  width: 100px;
  background-color: green;
}
.item:nth-last-child(2) {
  height: 100px;
  width: 100px;
  background-color: red;
}
.item:last-child {
  height: 100px;
  width: 100px;
  background-color: blue;
}